.border {
  border: 2px solid red;
}

form {
  margin: 1.5rem auto;
  max-width: 600px;
  height: 150px auto;
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}

.title_input {
  outline: none;
  font-family: var(--font-primary);
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.25px;
  color: black;
  border: none;
  background-color: transparent;
}

form input[type="text"],
textarea {
  font-family: var(--font-primary);
  display: block;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: black;
  width: 100%;
  background-color: transparent;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-form {
  border: none;
  background-color: transparent;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: black;
  cursor: pointer;
}

.icons--form {
  display: flex;
  justify-content: space-between;
}