.note-palette {
    background-color: white;
    list-style: none;
    grid-template-columns: repeat(5, 25px);
    grid-gap: 5px;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    justify-items: center;
    max-width: 155px;
    max-height: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 60px;
    left: -42px;
    display: none;
}

.show-palette {
    display: grid;
}

.palette-selected {
    background-color: #d0c9c9;
    filter: invert(100%) sepia(90%) saturate(10%) hue-rotate(160deg) brightness(200%) contrast(100%);
}

.note-palette li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.FFFFFF {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px;
}

.F28B82 {
    background-color: #F28B82;
}

.FBBC04 {
    background-color: #FBBC04;
}

.FFF475 {
    background-color: #FFF475;
}

.CCFF90 {
    background-color: #CCFF90;
}

.A7FFEB {
    background-color: #A7FFEB;
}

.CBF0F8 {
    background-color: #CBF0F8;
}

.AECBFA {
    background-color: #AECBFA;
}

.D7AEFB {
    background-color: #D7AEFB;
}

.FDCFE8 {
    background-color: #FDCFE8;
}

