@import url(assets/structure.css);
@import url(assets/typography.css);
@import url(assets/reset.css);
@import url(components/header.css);
@import url(components/home.css);
@import url(components/notes.css);
@import url(assets/utils.css);
@import url(./components/form.css);

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1D2128;
}
